@model VBlog.Data.ViewModel.Page.HomePageViewModel

<div class="banner">
    <div class="container">
        
            <h2>@Model.GetForMe.Title</h2>
            <p>@Model.GetForMe.Description</p>

    </div>
</div>
